@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

:root {
  --dark-color: #0D0D0D;
  --bright-color: #F2F2F2;
  --cinzaescuro-color: #212121;
  --azulnaval-color: #274360;
  --rosaclaro-color: #e91e63;
}

*{
	margin:0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

html,body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body{
	background-color: var(--bright-color);
	/* defina as variveis paras as cores aqui */
}
body.hidden-scrolling{
	overflow-y: hidden;
}

.container{
	max-width: 1270px;
	margin:auto;
}
ul{
	list-style: none;
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
/*header*/
.header{
	font-family: 'Raleway', sans-serif;
	line-height: 1.5;
	font-weight: 400;
	width: 100%;
	left:0;
	top:0;
	z-index: 99;
	padding: 15px;
}
.header-main{
	background-color: var(--bright-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	border-radius: 4px;
}

#logo {
	padding-top: 10px;
	width: 100px;
  }

.logo{
	display: flex;
	align-items: center;
}
  
.header .logo{
	padding: 0 15px;
}

.header .nav-menu{
	padding: 0 15px;
}
.header .menu > .menu-item{
	display: inline-block;
	margin-left: 30px;
	position: relative;
}
.header .menu > .menu-item > a{
	display: block;
	padding: 12px 0;
	font-size: 16px;
	color: var(--dark-color);
	text-transform: capitalize;
	font-weight: 600;
	transition: all 0.3s ease;
}
.header .menu > .menu-item > a .plus{
	display: inline-block;
	height: 12px;
	width: 12px;
	position: relative;
	margin-left:5px; 
	pointer-events: none;
}
.header .menu > .menu-item > a .plus:before,
.header .menu > .menu-item > a .plus:after{
	content:'';
	position: absolute;
	box-sizing: border-box;
	left: 50%;
	top:50%;
	background-color: var(--dark-color);
	height: 2px;
	width: 100%;
	transform: translate(-50%,-50%);
	transition: all 0.3s ease;
}
.header .menu > .menu-item:hover > a .plus:before,
.header .menu > .menu-item:hover > a .plus:after{
   background-color: var(--rosaclaro-color);
}
.header .menu > .menu-item > a .plus:after{
   transform: translate(-50%,-50%) rotate(-90deg);	
}
.header .menu > .menu-item > .sub-menu > .menu-item > a:hover,
.header .menu > .menu-item:hover > a{
	color: var(--rosaclaro-color);
}
.header .menu > .menu-item > .sub-menu{
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	width: 220px;
	position: absolute;
	left:0;
	top:100%;
	background-color: var(--bright-color);
	padding: 10px 0;
	border-top: 3px solid var(--rosaclaro-color);
	transform: translateY(10px);
	transition: all 0.3s ease;
	opacity:0;
	visibility: hidden;
}
@media(min-width: 992px){
.header .menu > .menu-item-has-children:hover > .sub-menu{
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
 }
 .header .menu > .menu-item-has-children:hover > a .plus:after{
    transform: translate(-50%,-50%) rotate(0deg);		
 }
}
.header .menu > .menu-item > .sub-menu > .menu-item{
	display: block;
}
.header .menu > .menu-item > .sub-menu > .menu-item > a{
	display: block;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 600;
	color: var(--dark-color);
	transition: all 0.3s ease;
	text-transform: capitalize;
}
.header .open-nav-menu{
	height: 34px;
	width: 40px;
	margin-right: 15px;
	display: none;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.header .open-nav-menu span{
	display: block;
	height: 3px;
	width: 24px;
	background-color: var(--dark-color);
    position: relative;
}
.header .open-nav-menu span:before,
.header .open-nav-menu span:after{
	content: '';
	position: absolute;
	left:0;
	width: 100%;
	height: 100%;
	background-color: var(--dark-color);
	box-sizing: border-box;
}
.header .open-nav-menu span:before{
	top:-7px;
}
.header .open-nav-menu span:after{
	top:7px;
}
.header .close-nav-menu{
	height: 40px;
	width: 40px;
	background-color: var(--bright-color);
	margin:0 0 15px 15px;
	cursor: pointer;
	display: none;
	align-items: center;
	justify-content: center;
}
.header .close-nav-menu img{
	width: 16px;
}
.header .menu-overlay{
	position: fixed;
	z-index: 999;
	background-color: rgba(0,0,0,0.5);
	left:0;
	top:0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	opacity:0;
	transition: all 0.3s ease;
}

#participants {
	left: -90px;
}

#settings {
	left: -200px;
}

#img-config:hover {
	rotate: 360deg;
	transition: all 0.7s ease-in-out;
}
  
  /* "Rodapé" Sessão */

#bottom {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	background-color: var(--cinzaescuro-color);
	padding: 50px;
	width: 100%;
	height: 85vh;
	flex-wrap: wrap;
  }

  #info-bottom {
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	color: var(--bright-color);
	height: 400px;
	border-bottom: 2.5px solid var(--bright-color);
	width: 100%;
  }
  
  #titulo-bottom{
	font-size: 35px;
	margin: 50px 0 45px 0;
  }
  
  .par-bottom {
	color: var(--bright-color);
	margin-top: 15px;
	padding: 2px;
	font-size: 25px;
	border-radius: 2px;
	border-bottom: 3.5px solid transparent;
  }
  
  .par-bottom:hover {
	transition: all 0.5s ease-in-out;
	border-bottom: 3.5px solid var(--rosaclaro-color);
  }

/*Responsividade do Header*/

  @media(max-width: 991px){
	#participants {
		left: 0;
	}
	#settings{
		left: 0;
	}
	.header .menu-overlay.active{
	visibility: visible;
	opacity: 1;
}
	.header .nav-menu{
		position: fixed;
		right: -280px;
		visibility: hidden;
		width: 280px;
		height: 100%;
		top:0;
		overflow-y: auto;
		background-color: var(--bright-color);
		z-index: 1000;
		padding: 15px 0;
		transition: all 0.5s ease;
	}
	.header .nav-menu.open{
		visibility: visible;
		right: 0px;
	}
	.header .menu > .menu-item{
		display: block;
		margin:0;
	}
	.header .menu > .menu-item-has-children > a{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.header .menu > .menu-item > a{
		color: var(--dark-color);
		padding: 12px 15px;
		border-bottom: 1px solid var(--cinzaescuro-color);
	}
	.header .menu > .menu-item:first-child > a{
	    border-top: 1px solid var(--cinzaescuro-color);	
	}
	.header .menu > .menu-item > a .plus:before, 
	.header .menu > .menu-item > a .plus:after{
		background-color: var(--dark-color);
	}
	.header .menu > .menu-item-has-children.active > a .plus:after{
        transform: translate(-50%,-50%) rotate(0deg);
	}
	.header .menu > .menu-item > .sub-menu{
		width: 100%;
		position: relative;
		opacity: 1;
		visibility: visible;
		border:none;
		background-color: transparent;
		box-shadow: none;
		transform: translateY(0px);
		padding: 0px;
		left: auto;
		top:auto;
		max-height: 0;
		overflow: hidden;
	}
	.header .menu > .menu-item > .sub-menu > .menu-item > a{
		padding: 12px 45px;
		color: var(--cinzaescuro-color);
		border-bottom: 1px solid var(--cinzaescuro-color);
	}
	.header .close-nav-menu,
	.header .open-nav-menu{
		display: flex;
	}

	.button {
		background-color: var(--bright-color);
		position: fixed;
		bottom: 0;
		right: 0;
	}
	
}