@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}
:root {
    --dark-color: #0D0D0D;
    --bright-color: #F2F2F2;
    --shadow-color: #212121;
    --primary-color: #BF1F3C;
    --second-color: #F20505;
    --terceury-color: #03318C;
    --quarta-color: #0511F2;
    --quinta-color: #ffff00;
    --sexta-color: #f0be00;
    --azulnaval-color: #274360;
  }

#logo-ifc {
    width: 30px;
    height: 30px;
}

#indexbunner {
    user-select: none;
    justify-content: center;
    display: flex;
    height: calc(100vh - 103px);
    align-items: center;
}

#div-bunner{
    width: 56vw;
}

#indexbunner .bsubtittle {
    font-size: 1vw;
    font-weight: 900;
    padding: 0 20px 10px 0;
}


#indexbunner #titulo-2 {
    line-height: 75%;
    font-size: 10vw;
    font-weight: 700;
    padding-bottom: 20px;
    padding-left: 1vw;
    text-align: start;
}

#indexbunner #titulo-3 {
    line-height: 75%;
    font-size: 10vw;
    font-weight: 700;
    text-align: end;
}

#indexbunner em {
    color: white;
    font-style: normal;
    padding: 0px 5px 0px 5px;
    background-image: linear-gradient(90deg, rgb(118, 11, 11) 20%, rgb(11, 11, 118) 80%);
    border-radius: 15px;
}
.logo h1 a{
    text-decoration: none;
    color: inherit;
}